body {
	background:
		url('https://followers.com.ua/odessa/events/beregite-elki-anons-meropriyatii-18-21-dekabrya/950344899.jpg')
		no-repeat center center fixed;
	top: 0;
	left: 0;
	position: center;
	background-position: center;
	background-size: cover;
	height: 100%;
	min-height: 100%;
	max-width: 100%;
	min-width: 5%;
}

header div {
	height: 170px;
	background-color: rgba(80, 90, 70, 0.990);
	overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    
}


header h1 {
	margin-top: 10px;
	margin-left: 10px;
	text-shadow: 0 0 1px rgba(242, 242, 242, 0.540), 0 0 1px
		rgba(242, 242, 242, 0.540);
}

header a {
	padding: 10px;
	margin-left: 20px;
}

.logo {
	heigth: 130px;
	width: 225px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.centered {
	text-align: center;
}

.surveyCentered {
	background-color: rgb(240, 241, 241);
	margin: auto;
	padding: 15px;
	width: 50%;
	text-align: center;
	border: solid 3px;
	box-shadow: 5px 10px;
	width: max-content;
	margin-bottom: 50px;
}

.topMarginPush {
	padding-top: 20px;
}

.topMarginPushSmall {
	padding-top: 3 px;
}

.right {
	display: flex;
	justify-content: space-around;
}


.content {
margin-top: 200px;
}

section.survey ul {
	list-style: none;
}

.parks {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Ubuntu', serif;
	color: rgb(242, 242, 242);
	text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px rgb(0, 0, 0);
	border: solid 3px;
	border-radius: 5px;
	height: 21em;
	width: 35em;
	padding: 10px;
}

.parkDetail {
	clear: both;
	width: 100%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin: 20px auto;
	clear: both;
}

section.survey {
	clear: both;
	width: 100%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin: 20px auto;
	clear: both;
}

section.parkDetail ul {
	list-style: none;
}

.submitButton{
	padding-left: 10px;
}
.parkInfo {
	font-size: 1em;
	width: 90%;
	margin-left: 10px;
}

.parkName {
	margin-top: 25px;
	width: 35em;
}

.location {
	padding: 5px;
}

.desciption {
	padding-top: 5px;
}

.detail {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;}

section.parkdetail div.weather {
	display: block;
}

.detailInfo {
	width: 70%;
	margin-right: 4em;
}

.detailImg img{
	width: 100%;
	display: flex;
	margin: 15px;
}

.weatherImg {
	height: 100px;
	width: 100px;
}
.weatherBox{
		border-top: solid 3px;
		background-color: rgb(240, 241, 241);
	
}
.weather {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	
}
.forecastDay {
	background-color: white;
	justify-content: space-around;
	vertical-align: top;
	margin: 5px;
	border: solid 2px;
	border-radius: 10px;
	
}
.weatherItemGrid{
	grid-template-columns: 1;
	grid-template-rows: 5;
	padding: 5px;
	
}
.weatherImg{
	grid-row: 1/5;
}
.weatherForecast{
	grid-row: 2/5;
}
.weatherTemp{
	grid-row: 3/5;
}
.forecastWarning{
	grid-row: 4/5;
}
.tempWarning{
	grid-row: 5/5;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #fff;
	background-color: rgba(224, 224, 224, 0.650);
	border-radius: 5px;
}

a:active {
	text-decoration: underline;
	color: white;
}