body {
	background:
		url('https://followers.com.ua/odessa/events/beregite-elki-anons-meropriyatii-18-21-dekabrya/950344899.jpg')
		no-repeat center center fixed;
	top: 0;
	left: 0;
	position: center;
	background-position: center;
	background-size: cover;
	height: 100%;
	min-height: 100%;
	max-width: 100%;
	min-width: 5%;
}

header div {
	background-color: rgba(50, 70, 70, 0.750)
}

.logo {
	heigth: 150px;
	width: 225px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.centered {
	text-align: center;
}

.surveyCentered {
	background-color: rgb(240, 241, 241);
	margin: auto;
	padding: 15px;
	width: 50%;
	text-align: center;
	border: solid 3px;
	box-shadow: 5px 10px;
	width: max-content;
	margin-bottom: 50px;
}
.topMarginPush{
	padding-top: 20px;
}
.topMarginPushSmall{
	padding-top: 3
	px;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky .content {
	padding-top: 80px;
}

.content {
	padding-top: 30px;
}

section.survey ul {
	list-style: none;
}

.parks {
	margin: 20px;
	font-family: 'Ubuntu', serif;
	color: rgb(242, 242, 242);
	text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px rgb(0, 0, 0);
	border: solid 3px;
	border-radius: 5px;
	height: 19em;
	width: 30em;
}

section.parkDetail {
	clear: both;
	width: 100%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin: 20px auto;
	clear: both;
}

section.survey {
	clear: both;
	width: 100%;
	vertical-align: top;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	margin: 20px auto;
	clear: both;
}

section.parkDetail ul {
	list-style: none;
}

.parkInfo {
	font-size: 1em;
	width: 90%;
	margin-left: 10px;
}

.parkName {
	margin-top: 25px;
	width: 35em;
}

.location {
	padding: 5px;
}

.desciption {
	padding-top: 5px;
}

.detail {
	display: block;
}

.detailInfo {
	border: solid 3px;
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	flex-wrap: wrap;
}

.detailImg {
	diplay: inline;
	float: left;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #f0f;
}

a:hover {
	color: #fff;
	background-color: rgba(224, 224, 224, 0.650);
	border-radius: 5px;
}

a:active {
	text-decoration: underline;
	color: white;
}